<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Wix" Language="1033" Version="1.0.0.0" Manufacturer="Ngoc Tai Le" UpgradeCode="07cb2947-f1ca-44cc-b7e7-a7247eeefc4e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Wix" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SWE40006-A.1.2" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="SWE40006_A.1.2.exe" Guid="7192CDEB-2D36-4E3D-BF13-25ED451139C7">
				<File Name="SWE40006_A.1.2.exe" Source="C:\Users\Tyl2002\source\repos\SWE40006-A.1\C#DESK\bin\Debug\C#DESK.exe"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>